html {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/*Шапка страницы*/

header {
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
}

.header-content {
  height: 72px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (max-width: 575px) {
  .header-content {
    max-width: 308px;
  }
}

@media screen and (max-width: 991px) {
  .header-content {
    max-width: 752px;
  }
}

@media screen and (min-width: 992px) {
  .header-content {
    max-width: 956px;
  }
}

.header-logo {
  width: 120px;
  height: 13px;
}

.header-button {
  width: 78px;
  height: 40px;
  background: white;
  font-weight: 500;
  font-size: 13px;
  line-height: 24px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}

.header-menu {
  display: flex;
  align-items: center;
}

.basket {
  margin-left: 25px;
}

/*Основная часть страницы*/

.empty-div {
  width: 100%;
  height: 72px;
}

/*Обложка станицы*/

.face {
  background: url(bigpic2.png);
  width: 100%;
  height: 360px;
  background-size: cover;
}

@media screen and (max-width: 575px) {
  .face {
    height: 250px;
  }
}

h1 {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 42px;
  color: #1d1d1d;
  text-align: center;
  margin-top: 40px;
}

@media screen and (max-width: 575px) {
  h1 {
    margin-top: 25px;
    font-size: 24px;
    line-height: 28px;
  }
}

.face-card {
  background: white;
  height: 200px;
  max-width: 100%;
  box-shadow: 0px 0px 16px rgba(38, 38, 38, 0.16);
}

@media screen and (max-width: 575px) {
  .face-card {
    height: 180px;
  }
}

.face-content {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 575px) {
  .face-content {
    max-width: 308px;
  }
}

@media screen and (max-width: 991px) {
  .face-content {
    max-width: 752px;
  }
}

@media screen and (min-width: 992px) {
  .face-content {
    max-width: 956px;
  }
}

.container {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 80px;
}

@media screen and (max-width: 575px) {
  .container {
    padding-top: 140px;
  }
}

.card-description {
  display: flex;
  justify-content: space-between;
  margin: 0px 30px 40px;
}

@media screen and (max-width: 575px) {
  .card-description {
    flex-direction: column;
    align-items: center;
  }
}

.face-button {
  width: 100px;
  height: 30px;
  background: #262626;
  border-radius: 16px;
  border: none;
  color: white;
  font-size: 13px;
  line-height: 15px;
}

.face-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.time {
  margin: 7px 0px;
}

/*Горизонтальное меню*/

nav {
  height: 80px;
  background: white;
  border-bottom: 1px solid rgba(117, 117, 117, 0.2);
}

ul a {
  text-decoration: none;
  color: #626262;
  font-size: 16px;
  line-height: 19px;
}

a:active {
  color: #327430;
}

.horizontal-menu {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (max-width: 575px) {
  nav {
    display: none;
  }
}

@media screen and (max-width: 991px) {
  .horizontal-menu {
    max-width: 752px;
  }
}

@media screen and (min-width: 992px) {
  .horizontal-menu {
    max-width: 956px;
  }
}

.points-menu {
  display: flex;
  align-items: center;
}

.list-menu {
  list-style: none;
  padding-left: 0px;
}

.point {
  float: left;
  margin-right: 40px;
}

.p-check a {
  color: #327430;
}

/*Меню*/

.menu {
  margin: 0px auto;
  padding-left: 8px;
  padding-right: 8px;
}

@media screen and (max-width: 575px) {
  .menu {
    max-width: 308px;
  }
}

@media screen and (max-width: 991px) {
  .menu {
    max-width: 752px;
  }
}

@media screen and (min-width: 992px) {
  .menu {
    max-width: 956px;
  }
}

.menu-header {
  font-size: 22px;
  line-height: 34px;
  color: #1d1d1d;
  font-style: normal;
  font-weight: normal;
  margin-top: 60px;
}

@media screen and (max-width: 575px) {
  .menu-header {
    margin-top: 140px;
    margin-bottom: 0px;
    text-align: center;
  }
}

.small {
  width: 50px;
  size: 1px;
  background: #757575;
  margin-top: 10px;
  margin-bottom: 40px;
}

@media screen and (min-width: 576px) {
  .small {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .small {
    display: none;
  }
}

.container-menu {
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

/*@media screen and (max-width: 575px) {
  padding-top: 0px;
}
*/
.card {
  height: 160px;
  border: 1px solid rgba(117, 117, 117, 0.2);
  border-radius: 2px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  
}

.card-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px; 
}

.dish-name {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: #1d1d1d;
  margin: 0px;
  padding-bottom: 5px;
}

@media screen and (max-width: 575px) {
  font-size: 14px;
}

.description {
  font-style: normal;
font-weight: normal;
font-size: 13px;
line-height: 21px;
color: #626262;
margin: 0px;
}

.cost {
  font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 21px;
color: #1D1D1D;
margin: 0px;

}

.card-picture {
  flex: right;
  width: 170px;
  height: 160px;
}





/*Подвал страницы*/

footer {
  background: #262626;
  /*Не забудь потом отрегулировать высоту футера и отступ контента от низа страницы!!!!!*/
  width: 100%;
  margin-top: 500px;
}

.footer-content {
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  color: white;
  font-size: 13px;
  line-height: 15px;
}

@media screen and (max-width: 575px) {
  .footer-content {
    max-width: 308px;
  }
}

@media screen and (max-width: 991px) {
  .footer-content {
    max-width: 752px;
  }
}

@media screen and (min-width: 992px) {
  .footer-content {
    max-width: 956px;
  }
}

.footer-logo {
  padding-top: 60px;
  padding-bottom: 40px;
}

.h-footer {
  background: #ffffff;
  opacity: 0.4;
  size: 1px;
  margin: 0px;
}

.store {
  width: 135px;
  height: 40px;
}

@media screen and (max-width: 575px) {
  .store {
    width: 124px;
    height: 36px;
  }
}

.store-icons {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.store-1 {
  margin-right: 40px;
}

@media screen and (max-width: 575px) {
  .store-1 {
    margin-right: 25px;
  }

  .store-icons {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

.credits {
  font-size: 11px;
  line-height: 13px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.footer-button {
  width: 80px;
  height: 80px;
  position: fixed;
  right: 16px;
  bottom: 24px;
  background: #59bd5a;
  border-radius: 2px;
  border: none;
}

@media screen and (max-width: 575px) {
  .footer-button {
    width: 64px;
    height: 64px;
  }
}

.footer-area {
  text-align: right;
}

.footer-menu {
  margin: 0px 0px 25px;
}

.social-media {
  display: flex;
}

.footer-nav {
  padding-top: 40px;
  padding-bottom: 15px;
}

.twitter {
  margin-left: 15px;
  margin-right: 15px;
}

.uber-eats {
  display: flex;
  margin-bottom: 0px;
  font-size: 16px;
  line-height: 19px;
}

.hash {
  color: #49a144;
}

.language-button {
  width: 200px;
  height: 40px;
  background: #3b3b3b;
  border-radius: 2px;
  border: none;
  color: white;
  text-align: left;
  padding: 0px;
}

.world {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}

.arrow {
  float: right;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
}
